<h1 class="page-header">Dashboard</h1>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    
                    <div class="col-xs-12 text-center">
                        <div class="huge"><%= @todos %></div>
                        <div>Total de urnas apuradas</div>
                    </div>
                </div>
            </div>
            <%= link_to contratos_path(:ano_param => ano_corrente) do %>
                <div class="panel-footer">
                    <span class="pull-left">Veja Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    
                    <div class="col-xs-12 text-center">
                        <div class="huge"><%= @ativos %></div>
                        <div>Total de Votos Apurados</div>
                    </div>
                </div>
            </div>
            <%= link_to contratos_path(:ano_param => ano_corrente) do %>
                <div class="panel-footer">
                    <span class="pull-left">Veja Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    
                    <div class="col-xs-12 text-center">
                        <div class="huge"><%= @finalizados %></div>
                        <div>Eleitores</div>
                    </div>
                </div>
            </div>
            <%= link_to contratos_path(:ano_param => ano_corrente) do %>
                <div class="panel-footer">
                    <span class="pull-left">Veja Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    
                    <div class="col-xs-12 text-center">
                        <div class="huge"><%= @vencendo %></div>
                        <div>Urnas não apuradas</div>
                    </div>
                </div>
            </div>
            <%= link_to contratos_path(:ano_param => ano_corrente) do %>
                <div class="panel-footer">
                    <span class="pull-left">Veja Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
</div>