<h1 class="page-header">Urnas</h1>

<% if @urna.errors.any? %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
        <% @urna.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
<div class="panel-heading">
    <%= action %>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <div class="col-lg-6">
        <%= form_for(@urna) do |f| %>
            <div class="form-group">
                <label>Eleição</label>
                <%= f.collection_select :eleicao_id, @eleicao_options_for_select, :id, :descricao, {}, { class: "form-control", autofocus: true } %>
            </div>
            <div class="form-group">
                <label>Numero</label>
                <%= f.text_field :numero, autofocus: true, class: "form-control", placeholder: "Numero da Urna"  %>
            </div>
            <div class="form-group">
                <label>Local de Votação</label>
                <%= f.text_field :escola, autofocus: true, class: "form-control", placeholder: "Nome da Escola"  %>
            </div>
            <div class="form-group">
                <label>Nome da Localidade</label>
                <%= f.text_field :localidade, class: "form-control", placeholder: "Nome da Localidade"  %>
            </div>
            <div class="form-group">
                <label>Numero das Seções</label>
                <%= f.text_field :secoes, class: "form-control", placeholder: "Numero das Seções"  %>
            </div>
            <div class="form-group">
                <label>Numero de Eleitores</label>
                <%= f.text_field :eleitores, class: "form-control", placeholder: "Numero de Eleitores"  %>
            </div>
            <div class="form-group">
                <label>Situação Urna</label>
                <%#= f.check_box :finalizada, {}, true, false %>
            </div>
            <div>
                <table>
                    <tr>
                        <td width="100"><%= f.label 'finalizada_true', 'Finalizada' %></td>
                        <td><%= f.radio_button :finalizada, true %></td>
                    </tr>
            
                    <tr>
                        <td width="100"><%= f.label 'finalizada_false', 'Não Apurada' %></td>
                        <td><%= f.radio_button :finalizada, false %></td>
                    </tr>
                </table>
            </div>
            <button type="submit" class="btn btn-default">Salvar</button>
            <%= link_to urnas_path, class: "btn btn-default" do %>
                Voltar
            <% end %>
        <% end %>
    </div>
    
</div>
    <!-- /.panel-body -->
</div>
